In [5]:
# pg 22 
print("hello world!")

hello world!

In [20]:
# pg 24 
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}
def update_employee_record(rec):
    old_sal = rec['salary']
    new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
    rec['salary'] = new_sal
    state_code = rec['state_code']
    rec['state_name'] = STATE_CODE_MAP[state_code]
    
input_data = [
{'employee_name': 'Susan', 'salary': 100000.0,
'state_code': 'WA'},
{'employee_name': 'Ellen', 'salary': 75000.0,
'state_code': 'TX'},
]

for rec in input_data:
    update_employee_record(rec)
    name = rec['employee_name']
    salary = rec['salary']
    state = rec['state_name']
    print (name + ' now lives in ' + state)
    print ('and makes $' + str(salary))

Susan now lives in Washington
and makes $105000.0
Ellen now lives in Texas
and makes $78750.0

In [26]:
#pg 26,27
#integer,float,booleans,string
my_integer = 2
my_other_integer = 2 + 3
my_float = 2.0
my_true_bool = True
my_false_bool = False
this_is_true = (0 < 100)
this_is_false = (0 > 100)
a_string = "hello"
same_as_previous = 'hello'
an_empty_string = ""
w_a_single_quote = "hello's"
multi_line_string = """line 1
line 2"""
print(multi_line_string[1:],"\n\n", multi_line_string[-1],"\n\n", multi_line_string[1:4])

ine 1
line 2

 2

 ine

In [33]:
#comments and docstrings pg 28
def sqr(x):
    "This function just squares its input "
    return x * x
# this is a comment
sqr(2)

4

In [32]:
#Lists pg 29
my_list = ["a ", "b ", "c "]
print (my_list[0])  # prints "a "
my_list[0] = "A "  # changes that element of the list
my_list.append("d ")  # adds new element to the end
# List elements can be ANYTHING
mixed_list = ["A ", 5.7, "B ", [1,2,3]]
print(mixed_list)

#comprehension 
original_list = [1,2,3,4,5,6,7,8]
squares = [x*x for x in original_list]
squares_of_evens = [x*x for x in original_list if x%2==0]
print(squares)
print(squares_of_evens)

a
['A ', 5.7, 'B ', [1, 2, 3]]
[1, 4, 9, 16, 25, 36, 49, 64]
[4, 16, 36, 64]

In [37]:
print("ABCABD".split())
print("ABCABD".split("AB"))
",".join(["A", "B", "C"])

['ABCABD']
['', 'C', 'D']

'A,B,C'

In [41]:
# tuples
my_tuple = (1, 2, "hello world")
print (my_tuple[0])  # prints 1
zeroth_field, first_field, second_field = my_tuple
my_tuple[1] = 5  # This will give an error

1

TypeError: 'tuple' object does not support item assignment

In [43]:
# dictionary
my_dict = {"January": 1, "February":2}
print (my_dict["January"])  # prints 1
my_dict["March"] = 3  # add new element
my_dict["January"] = "Start of the year"  # overwrite old value

1

In [44]:
s = set()
print(5 in s)
s.add(5)
print(5 in s)

False
True

In [47]:
# functions pg 32 
def raiseto(x,n=2):
 return pow(x,n)

print(raiseto(2))
print(raiseto(2,3))

4
8

In [48]:
sqr = lambda x : x*x
five_sqrd = sqr(5)

In [51]:
# for , while , if elif else
for key, value in my_dict.items():
    print("the value for ", key, " is ", value)

i = 0
while(i<5):
    i+=1

if(i<5):
    print('less')
elif(i>5):
    print('more')
else:
    print('equal')

the value for  February  is  2
the value for  March  is  3
the value for  January  is  Start of the year
equal

In [56]:
# excpetion handling 

try:
    lines = "Lol\nthere\nwas\na\ngirl\nnamed\nrain".split("\n")
    print ("fourth line was: ", lines[4])
    print ("tenth line was: ", lines[9])
except:
    print ("There were < 10 lines")

fourth line was:  girl
There were < 10 lines

In [57]:
class Dog:
    def __init__(self, name):
      self.name = name
    def respond_to_command(self, command):
      if (command == self.name):
        self.speak()
    def speak(self):
      print ("bark bark!!")

fido = Dog("fido")
fido.respond_to_command("spot")  # does nothing
fido.respond_to_command("fido")  # prints bark bark

bark bark!!

In [58]:
a = 5
b = a
a = a + 1
print(b) # b has NOT been incremented
A = []
B = A
A.append(5)
B

5

[5]

In [59]:
A = [{}, {}] # list of dicts
B = [x for x in A]
A[0]["name"] = "bob"
B[0]["name"]

'bob'

In [64]:
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
  "name": ["Bob", "Alex", "Janice"],
  "age": [60, 25, 33]
 })
# Reading a DataFrame from a file
#other_df = pd.read_csv(“myfile.csv”)
# Making new columns from old ones
# is really easy
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30)  # this col is bools
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)
df = pd.DataFrame({
  "name": ["Bob", "Alex", "Jane"],
  "age": [60, 25, 33]
 })
print (df.index)  # prints 0‐2, the line numbers
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print (df_w_name_as_ind.index)  # prints their names
# Get the row for Bob
bobs_row = df_w_name_as_ind.ix["Bob"]
print (bobs_row["age"])  # prints 60

RangeIndex(start=0, stop=3, step=1)
Index(['Bob', 'Alex', 'Jane'], dtype='object', name='name')
60

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:34: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [65]:
import pandas as pd
s = pd.Series([1,2,3])
print(s)
print(s+2)
s.index
s + pd.Series([4,4,5])
bobs_row = df_w_name_as_ind.ix["Bob"]
type(bobs_row)
bobs_row

0    1
1    2
2    3
dtype: int64
0    3
1    4
2    5
dtype: int64

age    60
Name: Bob, dtype: int64

In [67]:
# joins pg 41
df_w_age = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "age": [60, 25, 33]
 })

df_w_height = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "height": [6.2, 4.0, 5.5]
 })

joined = df_w_age.set_index("name").join(
df_w_height.set_index("name"))

print (joined)

print (joined.reset_index())

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5

In [71]:
df = pd.DataFrame({
    "name": ["Tom", "Tyrell", "Claire"],
    "age": [60, 25, 33],
    "height": [6.2, 4.0, 5.5],
    "gender": ["M", "M", "F"]
})

print (df.groupby("gender").mean())
medians = df.groupby("gender").quantile(0.5)

def agg(ddf):
    return pd.Series({
    "name": max(ddf["name"]),
    "oldest": max(ddf["age"]),
    "mean_height": ddf["height"].mean()
    })

print (df.groupby("gender").apply(agg))

         age  height
gender
F       33.0     5.5
M       42.5     5.1
        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60