In [1]:
"ABC\t".strip()

'ABC'

In [2]:
" ABC\t".lstrip()

'ABC\t'

In [3]:
" ABC\t".rstrip()

' ABC'

In [4]:
"ABC".strip("C")

'AB'

In [7]:
s = "abc\xFF"
print(s)

abc√ø

In [11]:
import dateutil.parser as p
print(p.parse("August 13, 1985"))
print(p.parse("2013-8-13"))
print(p.parse("2013-8-13 4:15am"))

1985-08-13 00:00:00
2013-08-13 00:00:00
2013-08-13 04:15:00

In [16]:
#pg 54 4.5 formatting script 
def get_first_last_name(s):
    INVALID_NAME_PARTS = ["mr", "ms", "mrs",
    "dr", "jr", "sir"]
    parts = s.lower().replace(".","").strip().split()
    parts = [p for p in parts if p not in INVALID_NAME_PARTS]
    if len(parts)==0:
        raise ValueError("Name %s is formatted wrong" % s)
    first, last = parts[0], parts[-1]
    first = first[0].upper() + first[1:]
    last = last[0].upper() + last[1:]
    return first, last

def format_age(s):
    chars = list(s) # list of characters
    digit_chars = [c for c in chars if c.isdigit()]
    return int("".join(digit_chars))

def format_date(s):
    MONTH_MAP = {"jan": "01", "feb": "02", "may": "03"}
    s = s.strip().lower().replace(",", "")
    m, d, y = s.split()
    if len(y) == 2: y = "19" + y
    if len(d) == 1: d = "0" + d
    return y + "-" + MONTH_MAP[m[:3]] + "-" + d


import pandas as pd
df = pd.read_csv("file.csv", sep="|")
df["First Name"] = df["Name"].apply(
lambda s: get_first_last_name(s)[0])
df["Last Name"] = df["Name"].apply(
lambda s: get_first_last_name(s)[1])
df["Age"] = df["Age"].apply(format_age)
df["Birthdate"] = df["Birthdate"].apply(
format_date).astype(pd.datetime)
print (df)

                Name  Age   Birthdate First Name Last Name
0  Ms. Janice Joplin   65  1943-01-19     Janice    Joplin
1         Bob Dylan    74  1941-03-24        Bob     Dylan
2     Billy Ray Joel   66  1941-02-09      Billy      Joel

In [47]:
#regex 
import re 

# This matches "1600 Pennsylvania Ave  It does NOT match "5 Stony Brook St" cuz there is a space in "Stony Brook"
# this assumes there is no space in the town name
text = "156 Englewood Ave.\nBuffalo, NY,14214\n"
street_pattern = r"(\s*[0-9]+\s[A-Z][a-z]*? (Street|St|Rd|Road|Ave|Avenue|Blvd|Way|Wy)\.)"
city_pattern = r"\s*?([A-Z][a-z]*,\s[A-Z]{2},[0-9]{5})"

address_pattern = street_pattern  + city_pattern


# Compile the string into a regular expression object
#address_re = re.compile(address_pattern)

# list of all strings that match
#(re.findall(address_pattern, text))
city = re.findall(city_pattern, text)
street = re.findall(street_pattern, text)

print('street = ', street , '\ncity = ' , city)

street =  [('156 Englewood Ave.', 'Ave')]
city =  ['Buffalo, NY,14214']